<?xml version="1.0" encoding="UTF-8"?>

<!--L
  Copyright SAIC, SAIC-Frederick.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/caadapter/LICENSE.txt for details.
L-->

<web-app version="2.4" 
        xmlns="http://java.sun.com/xml/ns/j2ee" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
   
   <!--<context-param>
      <param-name>gov.nih.nci.security.configFile</param-name>
        <param-value>/WEB-INF/conf/ApplicationSecurityConfig.xml</param-value>
   </context-param> -->
   
   <display-name>gov.nih.nci.caadapter.dvts.ws.restful</display-name>
   
   <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/rest-context.xml
		</param-value>
	</context-param>
	
	<!-- This listener will load other application context file in addition to springweb-servlet.xml -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

   <!-- HibernateUtil Transaction per Request Management -->
<!--  
 	<filter>
    <filter-name>hibernate-filter</filter-name>
        <filter-class>gov.nih.nci.common.persistence.hibernate.HibernateFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>hibernate-filter</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping> 
-->
  <!-- setting filter inorder for response not to flush out while exporting data -->
  	<filter>
  	  <filter-name>ResponseOverrideFilter</filter-name> 
  	  <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class> 
  	</filter>
  	<filter-mapping>
  	  <filter-name>ResponseOverrideFilter</filter-name> 
  	  <url-pattern>*.do</url-pattern>
  	</filter-mapping>
  	<filter-mapping> 
  	  <filter-name>ResponseOverrideFilter</filter-name> 
  	  <url-pattern>*.jsp</url-pattern>
  	</filter-mapping>
 
 	<!-- Servlet: Struts Action -->
 	
    <servlet>
		<servlet-name>rest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet> 	
 	
  	<servlet>
  		<servlet-name>action</servlet-name>
    	<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>ApplicationResources</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/conf/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>   
		<load-on-startup>2</load-on-startup>
  	</servlet>

	<!-- Servlet: DeleteOutputFile -->
	<!--
  	<servlet>
        <servlet-name>DeleteOutputFile</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.DeleteOutputFile</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>
    -->
<!-- Servlet: DosFileHandler -->
    <!--
  	<servlet>
        <servlet-name>DosFileHandler</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.DosFileHandler</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>
    -->
<!-- Servlet: FileUploaderWS -->
  	<!--<servlet>
        <servlet-name>FileUploaderWS</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.FileUploaderWS</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet> -->   	
   	<!-- Servlet: ManageCaadapterWSUser -->
  	<servlet>
        <servlet-name>ManageCaadapterWSUser</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.ManageCaadapterWSUser</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>   
   	<!-- Servlet: ScenarioFileRegistration -->
  	<!--<servlet>
        <servlet-name>ScenarioFileRegistration</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.ScenarioFileRegistration</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet> -->   
   	<!-- Servlet: TransformationServiceOnWeb -->
  	<!--<servlet>
        <servlet-name>TransformationServiceOnWeb</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.ws.stellar.TransformationServiceOnWeb</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet> -->
   	<!-- Servlet: TransformationServiceWithWSDL -->
  	<!--<servlet>
        <servlet-name>TransformationServiceWithWSDL</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.ws.stellar.TransformationServiceWithWSDL</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>-->
   	<servlet>
        <servlet-name>CaAdapterUserWorks</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.CaAdapterUserWorks</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>   
   	<servlet>
        <servlet-name>MenuStart</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.MenuStart</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>   
   	
   	<servlet>
        <servlet-name>FileDownloader</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.FileDownloader</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>   
   	
   	<!--
   	<servlet>
        <servlet-name>VOMExecution</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.VOMExecution</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>   
   	-->
   	<servlet>
        <servlet-name>VOMFileRegistration</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.VOMFileRegistration</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>
    <servlet>
        <servlet-name>ContextVOMTranslation</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.ContextVOMTranslation</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>
    <!--<servlet>
        <servlet-name>DomainListInContext</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.DomainListInContex</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>-->

       <!-- Servlet: Add Scenario -->
  	<!--<servlet>
        <servlet-name>AddNewScenario</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.AddNewScenario</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>  -->
   	<!-- Servlet: Validate User -->
   	<!--<servlet>
        <servlet-name>validateUser</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.dvts.ws.validateUser</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>-->
    
    <!-- Servlet: Axis Engine -->
    <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet>
    
    <!--<servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/ws/AxisServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewScenario</servlet-name>
        <url-pattern>/AddNewScenario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateUser</servlet-name>
        <url-pattern>/validateUser</url-pattern>
    </servlet-mapping> -->
    <!--
    <servlet-mapping>
        <servlet-name>DeleteOutputFile</servlet-name>
        <url-pattern>/DeleteOutputFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DosFileHandler</servlet-name>
        <url-pattern>/DosFileHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploaderWS</servlet-name>
        <url-pattern>/FileUploaderWS</url-pattern>
    </servlet-mapping>
   -->
    <servlet-mapping>
        <servlet-name>ManageCaadapterWSUser</servlet-name>
        <url-pattern>/ManageCaadapterWSUser</url-pattern>
    </servlet-mapping>
    <!--    
    <servlet-mapping>
        <servlet-name>ScenarioFileRegistration</servlet-name>
        <url-pattern>/ScenarioFileRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransformationServiceOnWeb</servlet-name>
        <url-pattern>/TransformationServiceOnWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransformationServiceWithWSDL</servlet-name>
        <url-pattern>/TransformationServiceWithWSDL</url-pattern>
    </servlet-mapping>  -->
    <servlet-mapping>
        <servlet-name>CaAdapterUserWorks</servlet-name>
        <url-pattern>/CaAdapterUserWorks</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>MenuStart</servlet-name>
        <url-pattern>/MenuStart</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>FileDownloader</servlet-name>
        <url-pattern>/FileDownloader</url-pattern>
    </servlet-mapping>   
    <!--
    <servlet-mapping>
        <servlet-name>VOMExecution</servlet-name>
        <url-pattern>/VOMExecution</url-pattern>
    </servlet-mapping>   
    -->
    <servlet-mapping>
        <servlet-name>VOMFileRegistration</servlet-name>
        <url-pattern>/VOMFileRegistration</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ContextVOMTranslation</servlet-name>
        <url-pattern>/ContextVOMTranslation</url-pattern>
    </servlet-mapping>

    <!--<servlet-mapping>
        <servlet-name>DomainListInContext</servlet-name>
        <url-pattern>/DomainListInContext</url-pattern>
    </servlet-mapping> -->
    
      <servlet-mapping>
    	<servlet-name>action</servlet-name>
    	<url-pattern>*.do</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
		<servlet-name>rest</servlet-name>
		<url-pattern>/restful/*</url-pattern>
	</servlet-mapping>
  
  	<welcome-file-list>
     	<welcome-file>index.jsp</welcome-file>
     	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>


	<!-- Struts Tag Library Descriptors -->
	<jsp-config>

    <taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>	
	
	<taglib>
		<taglib-uri>/tags/struts-bean</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-html</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-logic</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/tiles</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
	</taglib>
    </jsp-config>
</web-app>
