<?xml version="1.0" encoding="UTF-8"?>

<!--L
  Copyright SAIC.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/caadapter/LICENSE.txt for details.
L-->

<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>AddNewScenario</servlet-name>
        <servlet-class>gov.nih.nci.caadapter.ws.AddNewScenario</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
       <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/ws/AxisServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewScenario</servlet-name>
        <url-pattern>/AddNewScenario</url-pattern>
    </servlet-mapping>

</web-app>
