<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
        xmlns="http://java.sun.com/xml/ns/j2ee" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>caAdapter CMTS Web Service Portal</display-name>
	<description>caAdapter Common Mapping and Transformation Servicd 1.0</description>

   <context-param>
      <param-name>gov.nih.nci.security.configFile</param-name>
      <param-value>/WEB-INF/conf/ApplicationSecurityConfig.xml</param-value>
   </context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/cxfJaxrsBean.xml</param-value>
	</context-param>
	<!-- Spring listener -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
   <!-- HibernateUtil Transaction per Request Management -->
<!--  
 	<filter>
    <filter-name>hibernate-filter</filter-name>
        <filter-class>gov.nih.nci.common.persistence.hibernate.HibernateFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>hibernate-filter</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping> 
-->
  <!-- setting filter inorder for response not to flush out while exporting data -->
  	<filter>
  	  <filter-name>ResponseOverrideFilter</filter-name> 
  	  <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class> 
  	</filter>
  	<filter-mapping>
  	  <filter-name>ResponseOverrideFilter</filter-name> 
  	  <url-pattern>*.do</url-pattern>
  	</filter-mapping>
  	<filter-mapping> 
  	  <filter-name>ResponseOverrideFilter</filter-name> 
  	  <url-pattern>*.jsp</url-pattern>
  	</filter-mapping>
 

  
  	<welcome-file-list>
     	<welcome-file>index.jsp</welcome-file>
     	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>


	<!-- Struts Tag Library Descriptors -->
<jsp-config>
	<taglib>
		<taglib-uri>/tags/struts-bean</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-html</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-logic</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/tiles</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
	</taglib>
</jsp-config>
 	<!-- Servlet: Struts Action -->
  	<servlet>
  		<servlet-name>strutsAction</servlet-name>
    	<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>ApplicationResources</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/conf/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>   
		<load-on-startup>2</load-on-startup>
  	</servlet>

	<!-- Servlet: Add Scenario -->
  	<servlet>
        <servlet-name>AddNewScenario</servlet-name>
        <servlet-class>gov.nih.nci.cbiit.cmts.ws.servlet.AddNewScenario</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>
    <servlet>
        <servlet-name>InvalidAccessWarning</servlet-name>
        <servlet-class>gov.nih.nci.cbiit.cmts.ws.servlet.InvalidAccessWarning</servlet-class>
        <load-on-startup>1</load-on-startup>
   	</servlet>
    
    <!-- Servlet: Axis Engine -->
    <!-- servlet>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet -->
    
    <!-- servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/ws/AxisServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>   
    <servlet-mapping >
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping -->
    
    <!-- CXF servlet -->
    <servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>CXFServlet</servlet-name>
			<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	
    <servlet-mapping>
        <servlet-name>AddNewScenario</servlet-name>
        <url-pattern>/AddNewScenario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvalidAccessWarning</servlet-name>
        <url-pattern>/cgi-bin/*</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
    	<servlet-name>strutsAction</servlet-name>
    	<url-pattern>*.do</url-pattern>
  	</servlet-mapping>
</web-app>
